html,
body,
#map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: #04b;
    /* Цвет ссылки */
    text-decoration: none;
    /* Убираем подчеркивание у ссылок */
}

a:visited {
    color: #04b;
    /* Цвет посещённой ссылки */
}

a:hover {
    color: #f50000;
    /* Цвет ссылки при наведении на нее курсора мыши */
}

.body {
    position: relative;
    font-family: sans-serif;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.8s ease-in, visibility 0.8s ease-in;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.loaded {
    opacity: 0;
    visibility: hidden;
}

.loader__text::after {
    content: url(./spinner.gif);
    margin-left: 30px;
}